
    <div class="container-fluid mt-3">
        <h3>Размер массива не может быть отрицательным числом или равен нулю. </h3>
        <a href="/Home/Index" class="btn btn-warning mt-3">Попробовать снова =)</a>
    </div>