

<div class="container-fluid mt-3" >
    <h3>Данные введены неверно или не полностью! Попробуйте задать другие входные параметры. </h3>
    <a href="/Home/Index" class="btn btn-warning mt-3">Попробовать снова =)</a>
</div>