
<div class="container-fluid mt-3">
    <h3>Минимальное число в массиве не может быть равно или больше максимального. </h3>
    <a href="/Home/Index" class="btn btn-warning mt-3">Попробовать снова =)</a>
</div>